html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    float: left;
    z-index: 5;
    height: 100%;
    width: 80%;
}

#controlPanel{
    float: left;
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.67);
}

.routeLabel{
    padding: 2.5% 8% 2.5% 18%;
    width: 100%;
    color: white;
}

#logoContainer{
    height: 15%;
    float: left;
    width: 100%;
    border-bottom: inset 1px white;
}
#logoContainer img{
    width: 100%;
    height: 100%;
    padding: 3% 10% 3% 10%;
}
#inputs{
    float: left;
    height: 30%;
    width: 100%;
    padding-top: 12% ;
    border-bottom: inset 1px white;
}
.inputContainer{
    height: 56px;
    padding: 2.5% 8% 2.5% 8%;
    width: 100%;
}
label{
    float: left;
    height: 46px;
    margin: 2px 5px 2px 2px;
!important;
}

label img{
    height: 46px;
}

input.form-control{
    float: left;
    width: 90%;
!important;
}

/*some stuff with glyphicons*/

.inner-addon {
    width: 100%;
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 12px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon {
    z-index: 12;
    right: 0px;
    font-size: 22px;
}
.right-addon span{
    color: rgba(0, 0, 0, 0.58);
    cursor: pointer;
!important;
}
.right-addon span:hover{
    color: rgba(40, 153, 227, 0.7);
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 46px; }


#results{
    width: 100%;
    float: left;
}

#distance, #fd{
    color: white;
    padding: 30px;
    height: 142px;
    width: 100%;
    float: left;
}

.distanceData{
    font-size: 26px;
    padding:  28px;
}

#distance .glyphicon, #fd .glyphicon{
    font-size: 82px;
}